@import "../../../_css/common.scss";


.main{
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 30px;

  grid-template-columns: 1fr ;

  @include small-break{
    flex-direction: column;
  }
}

.accountProfile{
  width: 30%;
  height: 100%;

  border: 1px solid var(--color-dark-50);
  display: flex;
  flex-direction: column;
  height: min-content;
  border-radius: 10px;

  @include small-break{
    width: 100%;
  }
}

.aside{
  width: 70%;

  @include small-break{
    width: 100%;
  }
}

.purchasedPurchases{
      list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    border-top: 1px solid var(--color-dark-50);
}
